In [1]:
%pylab inline

import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [3]:
## bevolkingsaantal

In [2]:
fn = '../datasets/raw/Gemiddelde_bevolking_090916105735.csv'
with open(fn, 'r', errors='ignore') as f:
    data = f.read()
    
    
count = pd.read_csv(fn, sep=',', skiprows=4)
count.head()

  Leeftijd (op 31 december)        Regio's   aantal  aantal.1
0    Totaal alle leeftijden    Aa en Hunze    25280   25223.0
1    Totaal alle leeftijden        Aalburg    12884   12980.0
2    Totaal alle leeftijden       Aalsmeer    30918   31188.0
3    Totaal alle leeftijden         Aalten  26958.5   26908.0
4    Totaal alle leeftijden  Achtkarspelen  27999.5   27995.0

In [3]:
count_df = count.drop("Leeftijd (op 31 december)", axis=1).rename(columns={
            "Regio's": "regio",
            "aantal": "count_2014",
            "aantal.1": "count_2015"
        })

count_df["count_2014"] = pd.to_numeric(count_df.count_2014, errors='coerce')
count_df["count_2015"] = pd.to_numeric(count_df.count_2015, errors='coerce')

count_df.sample(5)

                  regio  count_2014  count_2015
142              Heiloo     22594.5     22621.0
205            De Marne     10183.0     10129.0
358   West Maas en Waal     18494.5     18631.5
290  Schouwen-Duiveland     33836.5     33778.0
343            Vlieland      1106.5      1093.0

In [104]:
vd = pd.read_excel("../datasets/raw/verdachten_edit.xlsx", skiprows=5).rename(columns={
        "aantal": "aantal_verdachten",
        "Regio 's": "regio"
    }).set_index("regio").drop("Stedelijkheid buurt", axis=1)
vd.head()

               aantal_verdachten
regio
Aa en Hunze                120.0
Aalburg                    140.0
Aalsmeer                   200.0
Aalten                     100.0
Achtkarspelen              160.0

In [105]:
uitg = pd.read_excel("../datasets/raw/uitgaven_2014.xlsx").set_index("naam").rename(columns={
    2014: "uitgaven_ov"
})

uitg.head()

               uitgaven_ov
naam
Aa en Hunze         220000
Aalburg             109000
Aalsmeer            554000
Aalten              253000
Achtkarspelen       375000

In [106]:
df = count_df.set_index("regio").join(uitg).join(vd).dropna()

In [107]:
df["toename_bevolking"] = (df.count_2015 - df.count_2014) / df.count_2014

In [108]:
df = df.reset_index()

In [109]:
df.to_csv("../datasets/clean/clean_data.csv")

In [110]:
pd.read_csv("../datasets/clean/clean_data.csv", index_col=0)

,regio,count_2014,count_2015,uitgaven_ov,aantal_verdachten,toename_bevolking
0,Aa en Hunze,25280.0,25223.0,220000.0,120.0,-0.002255
1,Aalburg,12884.0,12980.0,109000.0,140.0,0.007451
2,Aalsmeer,30918.0,31188.0,554000.0,200.0,0.008733
3,Aalten,26958.5,26908.0,253000.0,100.0,-0.001873
4,Achtkarspelen,27999.5,27995.0,375000.0,160.0,-0.000161
5,Alblasserdam,19823.0,19900.0,235000.0,100.0,0.003884
6,Albrandswaard,25108.5,25066.5,308000.0,240.0,-0.001673
7,Alkmaar,95057.0,107360.5,4294000.0,890.0,0.129433
8,Almelo,72375.0,72358.0,731000.0,730.0,-0.000235
9,Almere,196472.5,197538.5,9387000.0,2620.0,0.005426
10,Alphen aan den Rijn,107090.5,107678.0,3479000.0,640.0,0.005486
11,Alphen-Chaam,9735.0,9838.5,198000.0,30.0,0.010632
12,Ameland,3584.0,3600.5,21000.0,10.0,0.004604
13,Amersfoort,151689.0,153041.5,3596000.0,1470.0,0.008916
14,Amstelveen,86088.5,87882.0,2283000.0,520.0,0.020833
15,Amsterdam,816344.5,827688.0,86896000.0,9740.0,0.013895
16,Apeldoorn,157822.0,158562.0,5007000.0,1510.0,0.004689
17,Appingedam,12037.5,12006.0,140000.0,110.0,-0.002617
18,Arnhem,151558.0,153055.5,3532000.0,2110.0,0.009881
19,Assen,67177.5,67113.0,1184000.0,640.0,-0.000960
20,Asten,16499.5,16569.5,711000.0,80.0,0.004243
21,Baarle-Nassau,6605.5,6605.0,260000.0,30.0,-0.000076
22,Baarn,24360.0,24463.5,368000.0,190.0,0.004249
23,Barendrecht,47449.0,47691.0,975000.0,400.0,0.005100
24,Barneveld,54427.5,55072.0,208000.0,360.0,0.011841
25,Bedum,10467.5,10437.0,116000.0,50.0,-0.002914
26,Beemster,8906.5,8930.5,263000.0,40.0,0.002695
27,Beesel,13564.0,13449.5,190000.0,120.0,-0.008441
28,Bellingwedde,9037.0,9062.5,139000.0,60.0,0.002822
29,Bergeijk,18232.5,18231.0,339000.0,100.0,-0.000082
...,...,...,...,...,...,...
339,Weststellingwerf,25489.5,25522.5,411000.0,140.0,0.001295
340,Westvoorne,14023.5,14140.0,771000.0,140.0,0.008307
341,Wierden,23891.5,23913.0,362000.0,80.0,0.000900
342,Wijchen,40964.5,40850.0,1339000.0,180.0,-0.002795
343,Wijdemeren,23181.5,23225.5,462000.0,130.0,0.001898
344,Wijk bij Duurstede,23132.5,23303.0,359000.0,140.0,0.007371
345,Winsum,13812.0,13703.5,246000.0,60.0,-0.007855
346,Winterswijk,28929.0,28958.0,444000.0,210.0,0.001002
347,Woensdrecht,21632.5,21663.0,517000.0,130.0,0.001410
348,Woerden,50604.0,50896.0,587000.0,310.0,0.005770
349,De Wolden,23622.0,23691.5,112000.0,100.0,0.002942
350,Wormerland,15758.5,15702.0,549000.0,110.0,-0.003585
351,Woudenberg,12454.5,12518.5,212000.0,60.0,0.005139
352,Woudrichem,14406.5,14453.0,163000.0,70.0,0.003228
353,Zaanstad,151008.0,151942.0,2575000.0,1440.0,0.006185
354,Zaltbommel,27270.0,27450.5,1184000.0,210.0,0.006619
355,Zederik,13686.5,13717.5,241000.0,60.0,0.002265
356,Zeevang,6323.5,6273.5,180000.0,30.0,-0.007907
357,Zeewolde,21696.5,22003.5,438000.0,180.0,0.014150
358,Zeist,61445.5,61949.5,2170000.0,540.0,0.008202
359,Zevenaar,32274.0,32267.0,498000.0,200.0,-0.000217
360,Zoetermeer,123793.0,124066.0,2788000.0,1560.0,0.002205
361,Zoeterwoude,8094.5,8116.5,100000.0,50.0,0.002718
362,Zuidhorn,18754.0,18763.5,280000.0,60.0,0.000507
363,Zuidplas,40831.5,40854.0,577000.0,370.0,0.000551
364,Zundert,21381.0,21425.5,66000.0,70.0,0.002081
365,Zutphen,47006.5,46923.0,2292000.0,440.0,-0.001776
366,Zwartewaterland,22166.5,22222.0,32000.0,90.0,0.002504
367,Zwijndrecht,44524.0,44477.5,144000.0,380.0,-0.001044
368,Zwolle,123510.0,124378.5,3006000.0,980.0,0.007032

In [36]:
df.columns

Index(['count_2014', 'count_2015', 'uitgaven_ov', 'aantal_verdachten',
       'toename_bevolking'],
      dtype='object')

In [13]:
import json

columns_fn = "../datasets/clean/columns.json"

columns = {
    "count_2014": {
        "name": "Bevolking 2014"
    }, 
    "count_2015": {
        "name": "Bevolking 2015"
    }, 
    "uitgaven_ov": {
        "name": "Uitgaven openbare orde"
    },
    "aantal_verdachten": {
        "name": "Aantal verdachten"
    },
    "toename_bevolking": {
        "name": "Relatieve bevolkingsgroei 2014-2015"
    }
}

with open(columns_fn, 'w') as f:
    json.dump(columns, f)

In [24]:
x = {
    "bla": "bla"
}

x.update({
        "foo": "foo"
    })

x

{'bla': 'bla', 'foo': 'foo'}

In [25]:
count_df

                   regio  count_2014  count_2015
0            Aa en Hunze     25280.0     25223.0
1                Aalburg     12884.0     12980.0
2               Aalsmeer     30918.0     31188.0
3                 Aalten     26958.5     26908.0
4          Achtkarspelen     27999.5     27995.0
5           Alblasserdam     19823.0     19900.0
6          Albrandswaard     25108.5     25066.5
7                Alkmaar     95057.0    107360.5
8                 Almelo     72375.0     72358.0
9                 Almere    196472.5    197538.5
10   Alphen aan den Rijn    107090.5    107678.0
11          Alphen-Chaam      9735.0      9838.5
12               Ameland      3584.0      3600.5
13            Amersfoort    151689.0    153041.5
14            Amstelveen     86088.5     87882.0
15             Amsterdam    816344.5    827688.0
16             Apeldoorn    157822.0    158562.0
17            Appingedam     12037.5     12006.0
18                Arnhem    151558.0    153055.5
19                 Assen     67177.5     67113.0
20                 Asten     16499.5     16569.5
21         Baarle-Nassau      6605.5      6605.0
22                 Baarn     24360.0     24463.5
23           Barendrecht     47449.0     47691.0
24             Barneveld     54427.5     55072.0
25                 Bedum     10467.5     10437.0
26             Beek (L.)     16242.5     16141.0
27              Beemster      8906.5      8930.5
28                Beesel     13564.0     13449.5
29          Bellingwedde      9037.0      9062.5
..                   ...         ...         ...
364              Wierden     23891.5     23913.0
365              Wijchen     40964.5     40850.0
366           Wijdemeren     23181.5     23225.5
367   Wijk bij Duurstede     23132.5     23303.0
368               Winsum     13812.0     13703.5
369          Winterswijk     28929.0     28958.0
370          Woensdrecht     21632.5     21663.0
371              Woerden     50604.0     50896.0
372            De Wolden     23622.0     23691.5
373           Wormerland     15758.5     15702.0
374           Woudenberg     12454.5     12518.5
375           Woudrichem     14406.5     14453.0
376             Zaanstad    151008.0    151942.0
377           Zaltbommel     27270.0     27450.5
378            Zandvoort     16633.5     16742.0
379              Zederik     13686.5     13717.5
380              Zeevang      6323.5      6273.5
381             Zeewolde     21696.5     22003.5
382                Zeist     61445.5     61949.5
383             Zevenaar     32274.0     32267.0
384           Zoetermeer    123793.0    124066.0
385          Zoeterwoude      8094.5      8116.5
386             Zuidhorn     18754.0     18763.5
387             Zuidplas     40831.5     40854.0
388              Zundert     21381.0     21425.5
389              Zutphen     47006.5     46923.0
390      Zwartewaterland     22166.5     22222.0
391          Zwijndrecht     44524.0     44477.5
392               Zwolle    123510.0    124378.5
393                  NaN         NaN         NaN

[394 rows x 3 columns]

In [26]:
df = count_df.dropna()

In [15]:
from sklearn.neighbors import NearestNeighbors

nn = NearestNeighbors()

def similar(gemeente_id, columns, n=5):
    
    values = df[columns].values
    nn.fit(values)
    
    near = nn.kneighbors(df.loc[gemeente_id][columns].values.reshape(1, -1), n_neighbors=n)[1][0]
    
    return df.ix[df.index[near]]
    
sim = similar(183, ["count_2014", "count_2015"])

results = [{
    key: value for key, value in zip(["id"] + list(sim.columns), row)
} for row in sim.to_records()]

results

[{'aantal_verdachten': 1258000.0,
  'count_2014': 22620.0,
  'count_2015': 22691.5,
  'id': 183,
  'regio': 'Nuenen, Gerwen en Nederwetten',
  'toename_bevolking': 0.003160919540229885,
  'uitgaven_ov': 337000.0},
 {'aantal_verdachten': 1954000.0,
  'count_2014': 22594.5,
  'count_2015': 22621.0,
  'id': 115,
  'regio': 'Heiloo',
  'toename_bevolking': 0.0011728518002168669,
  'uitgaven_ov': 374000.0},
 {'aantal_verdachten': 2171000.0,
  'count_2014': 22573.5,
  'count_2015': 22590.0,
  'id': 40,
  'regio': 'Borsele',
  'toename_bevolking': 0.00073094557777925444,
  'uitgaven_ov': 291000.0},
 {'aantal_verdachten': 2472000.0,
  'count_2014': 22641.5,
  'count_2015': 22888.5,
  'id': 174,
  'regio': 'Neder-Betuwe',
  'toename_bevolking': 0.010909171212154671,
  'uitgaven_ov': 322000.0},
 {'aantal_verdachten': 1807000.0,
  'count_2014': 22437.5,
  'count_2015': 22572.5,
  'id': 157,
  'regio': 'Lisse',
  'toename_bevolking': 0.0060167130919220055,
  'uitgaven_ov': 408000.0}]

In [91]:
rename = {
    key: value["name"] for key, value in columns.items()
}

idx = sim.T.columns
cols = sim.columns

header = [""] + sim.T.loc["regio", idx].values.tolist()
rows = sim.T.loc[list(set(cols) - {"regio"}), idx].rename(rename)

rows_formatted = rows.reset_index().values.tolist()

from matplotlib.colors import rgb2hex

def get_color(value, max=1):
    
    norm = mpl.colors.Normalize(vmin=-1 * max, vmax=max)
    cmap=matplotlib.cm.ScalarMappable(norm=norm, cmap=matplotlib.cm.jet)
    return rgb2hex(cmap.to_rgba(value))

for row in rows_formatted:
    
    avg = row[-1]
    diff = [(val - avg) for val in row[1:-1]]
    max_diff = max([abs(d) for d in diff])
        

    for index in range(len(row)):
        value = row[index]
       
        if type(value) == str:
            row[index] = {
                "value": value,
                "color": None
            }
        else:
            
            this_diff = value - avg
            
            print(this_diff, max_diff, cl)
            
            if value < 1:
                row[index] = {
                    "value": "%.2f%%" % (float(value), ),
                    "color": get_color(this_diff, max=max_diff)
                }
                
            else:
                row[index] = {
                    "value": num_fmt(value),
                    "color": get_color(this_diff, max=max_diff)
                } 
rows_formatted

182.5 204.0 0.0
157.0 204.0 0.0
136.0 204.0 0.0
204.0 204.0 0.0
0.0 204.0 0.0
-0.0028557935516921205 0.005285767514142751 0.0
-0.004843861291705139 0.005285767514142751 0.0
-0.005285767514142751 0.005285767514142751 0.0
0.0048924581202326655 0.005285767514142751 0.0
0.0 0.005285767514142751 0.0
-71000.0 117000.0 0.0
-34000.0 117000.0 0.0
-117000.0 117000.0 0.0
-86000.0 117000.0 0.0
0.0 117000.0 0.0
119.0 316.0 0.0
48.5 316.0 0.0
17.5 316.0 0.0
316.0 316.0 0.0
0.0 316.0 0.0
-549000.0 665000.0 0.0
147000.0 665000.0 0.0
364000.0 665000.0 0.0
665000.0 665000.0 0.0
0.0 665000.0 0.0

[[{'color': None, 'value': 'Bevolking 2014'},
  {'color': '#bb0000', 'value': '22.6k'},
  {'color': '#ff1600', 'value': '22.6k'},
  {'color': '#ff4700', 'value': '22.6k'},
  {'color': '#800000', 'value': '22.6k'},
  {'color': '#7dff7a', 'value': '22.4k'}],
 [{'color': None, 'value': 'Relatieve bevolkingsgroei 2014-2015'},
  {'color': '#0068ff', 'value': '0.00%'},
  {'color': '#0000ad', 'value': '0.00%'},
  {'color': '#000080', 'value': '0.00%'},
  {'color': '#a80000', 'value': '0.01%'},
  {'color': '#7dff7a', 'value': '0.01%'}],
 [{'color': None, 'value': 'Uitgaven openbare orde'},
  {'color': '#0048ff', 'value': '337k'},
  {'color': '#02e8f4', 'value': '374k'},
  {'color': '#000080', 'value': '291k'},
  {'color': '#0004ff', 'value': '322k'},
  {'color': '#7dff7a', 'value': '408k'}],
 [{'color': None, 'value': 'Bevolking 2015'},
  {'color': '#ffd000', 'value': '22.7k'},
  {'color': '#baff3c', 'value': '22.6k'},
  {'color': '#94ff63', 'value': '22.6k'},
  {'color': '#800000', 'value': '22.9k'},
  {'color': '#7dff7a', 'value': '22.6k'}],
 [{'color': None, 'value': 'Aantal verdachten'},
  {'color': '#0000e3', 'value': '1.26M'},
  {'color': '#d7ff1f', 'value': '1.95M'},
  {'color': '#ff7e00', 'value': '2.17M'},
  {'color': '#800000', 'value': '2.47M'},
  {'color': '#7dff7a', 'value': '1.81M'}]]

[[{'color': None, 'value': 'Bevolking 2014'},
  {'value': '22.6k'},
  {'value': '22.6k'},
  {'value': '22.6k'},
  {'value': '22.6k'},
  {'value': '22.4k'}],
 [{'color': None, 'value': 'Relatieve bevolkingsgroei 2014-2015'},
  {'value': '0.00%'},
  {'value': '0.00%'},
  {'value': '0.00%'},
  {'value': '0.01%'},
  {'value': '0.01%'}],
 [{'color': None, 'value': 'Uitgaven openbare orde'},
  {'value': '337k'},
  {'value': '374k'},
  {'value': '291k'},
  {'value': '322k'},
  {'value': '408k'}],
 [{'color': None, 'value': 'Bevolking 2015'},
  {'value': '22.7k'},
  {'value': '22.6k'},
  {'value': '22.6k'},
  {'value': '22.9k'},
  {'value': '22.6k'}],
 [{'color': None, 'value': 'Aantal verdachten'},
  {'value': '1.26M'},
  {'value': '1.95M'},
  {'value': '2.17M'},
  {'value': '2.47M'},
  {'value': '1.81M'}]]

In [51]:
cm = plt.get_cmap()

In [54]:
color = cm(0)

'#000084'

In [88]:
    
get_color(1, max=3)

'#00d4ff'

In [92]:
matplotlib.cm.colors

In [97]:
sim

             regio  count_2014  count_2015
183        Leerdam     20579.0     20639.5
59      Bunschoten     20569.5     20735.0
65     Cranendonck     20443.0     20601.0
277      Roerdalen     20765.5     20692.5
103  Franekeradeel     20386.5     20296.5