In [1]:
%pylab inline

import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [3]:
## bevolkingsaantal

In [2]:
fn = '../datasets/raw/Gemiddelde_bevolking_090916105735.csv'
with open(fn, 'r', errors='ignore') as f:
    data = f.read()
    
    
count = pd.read_csv(fn, sep=',', skiprows=4)
count.head()

  Leeftijd (op 31 december)        Regio's   aantal  aantal.1
0    Totaal alle leeftijden    Aa en Hunze    25280   25223.0
1    Totaal alle leeftijden        Aalburg    12884   12980.0
2    Totaal alle leeftijden       Aalsmeer    30918   31188.0
3    Totaal alle leeftijden         Aalten  26958.5   26908.0
4    Totaal alle leeftijden  Achtkarspelen  27999.5   27995.0

In [3]:
count_df = count.drop("Leeftijd (op 31 december)", axis=1).rename(columns={
            "Regio's": "regio",
            "aantal": "count_2014",
            "aantal.1": "count_2015"
        })

count_df["count_2014"] = pd.to_numeric(count_df.count_2014, errors='coerce')
count_df["count_2015"] = pd.to_numeric(count_df.count_2015, errors='coerce')

count_df.sample(5)

                  regio  count_2014  count_2015
142              Heiloo     22594.5     22621.0
205            De Marne     10183.0     10129.0
358   West Maas en Waal     18494.5     18631.5
290  Schouwen-Duiveland     33836.5     33778.0
343            Vlieland      1106.5      1093.0

In [4]:
vd = pd.read_excel("../datasets/raw/verdachten_2015.xlsx").set_index("naam").rename(columns={
        "bedrag": "aantal_verdachten"
    })
vd.head()

               aantal_verdachten
naam
Aa en Hunze              1614000
Aalten                   1885000
Achtkarspelen            1302000
Alblasserdam             1654000
Albrandswaard            1221000

In [5]:
uitg = pd.read_excel("../datasets/raw/uitgaven_2014.xlsx").set_index("naam").rename(columns={
    2014: "uitgaven_ov"
})

uitg.head()

               uitgaven_ov
naam
Aa en Hunze         220000
Aalburg             109000
Aalsmeer            554000
Aalten              253000
Achtkarspelen       375000

In [6]:
df = count_df.set_index("regio").join(uitg).join(vd).dropna()

In [7]:
df["toename_bevolking"] = (df.count_2015 - df.count_2014) / df.count_2014

In [11]:
df = df.reset_index()

In [12]:
df.to_csv("../datasets/clean/clean_data.csv")

In [9]:
pd.read_csv("../datasets/clean/clean_data.csv", index_col=0)

,count_2014,count_2015,uitgaven_ov,aantal_verdachten,toename_bevolking
regio,,,,,
Aa en Hunze,25280.0,25223.0,220000.0,1614000.0,-0.002255
Aalten,26958.5,26908.0,253000.0,1885000.0,-0.001873
Achtkarspelen,27999.5,27995.0,375000.0,1302000.0,-0.000161
Alblasserdam,19823.0,19900.0,235000.0,1654000.0,0.003884
Albrandswaard,25108.5,25066.5,308000.0,1221000.0,-0.001673
Alkmaar,95057.0,107360.5,4294000.0,13486000.0,0.129433
Almelo,72375.0,72358.0,731000.0,6417000.0,-0.000235
Almere,196472.5,197538.5,9387000.0,20513000.0,0.005426
Alphen aan den Rijn,107090.5,107678.0,3479000.0,10803000.0,0.005486
Ameland,3584.0,3600.5,21000.0,580000.0,0.004604
Amersfoort,151689.0,153041.5,3596000.0,12776000.0,0.008916
Amstelveen,86088.5,87882.0,2283000.0,8714000.0,0.020833
Amsterdam,816344.5,827688.0,86896000.0,141245000.0,0.013895
Apeldoorn,157822.0,158562.0,5007000.0,18800000.0,0.004689
Arnhem,151558.0,153055.5,3532000.0,15990000.0,0.009881
Asten,16499.5,16569.5,711000.0,1838000.0,0.004243
Baarle-Nassau,6605.5,6605.0,260000.0,789000.0,-0.000076
Baarn,24360.0,24463.5,368000.0,2239000.0,0.004249
Barendrecht,47449.0,47691.0,975000.0,2383000.0,0.005100
Barneveld,54427.5,55072.0,208000.0,4888000.0,0.011841
Bedum,10467.5,10437.0,116000.0,572000.0,-0.002914
Beemster,8906.5,8930.5,263000.0,1090000.0,0.002695
Beesel,13564.0,13449.5,190000.0,1069000.0,-0.008441
Bellingwedde,9037.0,9062.5,139000.0,650000.0,0.002822
Bergeijk,18232.5,18231.0,339000.0,1704000.0,-0.000082
Bergen op Zoom,66369.5,66278.5,2696000.0,7432000.0,-0.001371
Berkelland,44515.0,44400.5,134000.0,2154000.0,-0.002572
Bernheze,29709.5,29804.5,594000.0,2276000.0,0.003198
Best,28677.0,28856.5,1200000.0,2687000.0,0.006259
Beuningen,25285.0,25285.5,365000.0,1599000.0,0.000020
...,...,...,...,...,...
West Maas en Waal,18494.5,18631.5,107000.0,1460000.0,0.007408
Westerveld,19009.0,19012.5,287000.0,1638000.0,0.000184
Westervoort,15065.0,14996.5,334000.0,1135000.0,-0.004547
Westland,103771.5,104631.0,3793000.0,13802000.0,0.008283
Weststellingwerf,25489.5,25522.5,411000.0,1206000.0,0.001295
Westvoorne,14023.5,14140.0,771000.0,1718000.0,0.008307
Wierden,23891.5,23913.0,362000.0,1674000.0,0.000900
Wijchen,40964.5,40850.0,1339000.0,3511000.0,-0.002795
Wijk bij Duurstede,23132.5,23303.0,359000.0,1893000.0,0.007371
Winsum,13812.0,13703.5,246000.0,964000.0,-0.007855
Winterswijk,28929.0,28958.0,444000.0,1893000.0,0.001002
Woensdrecht,21632.5,21663.0,517000.0,1788000.0,0.001410
Woerden,50604.0,50896.0,587000.0,4320000.0,0.005770
De Wolden,23622.0,23691.5,112000.0,1546000.0,0.002942
Wormerland,15758.5,15702.0,549000.0,1739000.0,-0.003585
Woudenberg,12454.5,12518.5,212000.0,925000.0,0.005139
Woudrichem,14406.5,14453.0,163000.0,1091000.0,0.003228
Zaanstad,151008.0,151942.0,2575000.0,18348000.0,0.006185
Zaltbommel,27270.0,27450.5,1184000.0,3493000.0,0.006619
Zederik,13686.5,13717.5,241000.0,1301000.0,0.002265
Zeevang,6323.5,6273.5,180000.0,735000.0,-0.007907
Zeewolde,21696.5,22003.5,438000.0,2084000.0,0.014150
Zeist,61445.5,61949.5,2170000.0,6970000.0,0.008202
Zevenaar,32274.0,32267.0,498000.0,2106000.0,-0.000217
Zoeterwoude,8094.5,8116.5,100000.0,872000.0,0.002718
Zuidhorn,18754.0,18763.5,280000.0,1214000.0,0.000507
Zundert,21381.0,21425.5,66000.0,1000000.0,0.002081
Zutphen,47006.5,46923.0,2292000.0,4957000.0,-0.001776
Zwartewaterland,22166.5,22222.0,32000.0,2582000.0,0.002504
Zwijndrecht,44524.0,44477.5,144000.0,5385000.0,-0.001044

In [36]:
df.columns

Index(['count_2014', 'count_2015', 'uitgaven_ov', 'aantal_verdachten',
       'toename_bevolking'],
      dtype='object')

In [13]:
import json

columns_fn = "../datasets/clean/columns.json"

columns = {
    "count_2014": {
        "name": "Bevolking 2014"
    }, 
    "count_2015": {
        "name": "Bevolking 2015"
    }, 
    "uitgaven_ov": {
        "name": "Uitgaven openbare orde"
    },
    "aantal_verdachten": {
        "name": "Aantal verdachten"
    },
    "toename_bevolking": {
        "name": "Relatieve bevolkingsgroei 2014-2015"
    }
}

with open(columns_fn, 'w') as f:
    json.dump(columns, f)

In [24]:
x = {
    "bla": "bla"
}

x.update({
        "foo": "foo"
    })

x

{'bla': 'bla', 'foo': 'foo'}

In [25]:
count_df

                   regio  count_2014  count_2015
0            Aa en Hunze     25280.0     25223.0
1                Aalburg     12884.0     12980.0
2               Aalsmeer     30918.0     31188.0
3                 Aalten     26958.5     26908.0
4          Achtkarspelen     27999.5     27995.0
5           Alblasserdam     19823.0     19900.0
6          Albrandswaard     25108.5     25066.5
7                Alkmaar     95057.0    107360.5
8                 Almelo     72375.0     72358.0
9                 Almere    196472.5    197538.5
10   Alphen aan den Rijn    107090.5    107678.0
11          Alphen-Chaam      9735.0      9838.5
12               Ameland      3584.0      3600.5
13            Amersfoort    151689.0    153041.5
14            Amstelveen     86088.5     87882.0
15             Amsterdam    816344.5    827688.0
16             Apeldoorn    157822.0    158562.0
17            Appingedam     12037.5     12006.0
18                Arnhem    151558.0    153055.5
19                 Assen     67177.5     67113.0
20                 Asten     16499.5     16569.5
21         Baarle-Nassau      6605.5      6605.0
22                 Baarn     24360.0     24463.5
23           Barendrecht     47449.0     47691.0
24             Barneveld     54427.5     55072.0
25                 Bedum     10467.5     10437.0
26             Beek (L.)     16242.5     16141.0
27              Beemster      8906.5      8930.5
28                Beesel     13564.0     13449.5
29          Bellingwedde      9037.0      9062.5
..                   ...         ...         ...
364              Wierden     23891.5     23913.0
365              Wijchen     40964.5     40850.0
366           Wijdemeren     23181.5     23225.5
367   Wijk bij Duurstede     23132.5     23303.0
368               Winsum     13812.0     13703.5
369          Winterswijk     28929.0     28958.0
370          Woensdrecht     21632.5     21663.0
371              Woerden     50604.0     50896.0
372            De Wolden     23622.0     23691.5
373           Wormerland     15758.5     15702.0
374           Woudenberg     12454.5     12518.5
375           Woudrichem     14406.5     14453.0
376             Zaanstad    151008.0    151942.0
377           Zaltbommel     27270.0     27450.5
378            Zandvoort     16633.5     16742.0
379              Zederik     13686.5     13717.5
380              Zeevang      6323.5      6273.5
381             Zeewolde     21696.5     22003.5
382                Zeist     61445.5     61949.5
383             Zevenaar     32274.0     32267.0
384           Zoetermeer    123793.0    124066.0
385          Zoeterwoude      8094.5      8116.5
386             Zuidhorn     18754.0     18763.5
387             Zuidplas     40831.5     40854.0
388              Zundert     21381.0     21425.5
389              Zutphen     47006.5     46923.0
390      Zwartewaterland     22166.5     22222.0
391          Zwijndrecht     44524.0     44477.5
392               Zwolle    123510.0    124378.5
393                  NaN         NaN         NaN

[394 rows x 3 columns]

In [26]:
df = count_df.dropna()

In [65]:
from sklearn.neighbors import NearestNeighbors

nn = NearestNeighbors()

def similar(gemeente_id, columns, n=5):
    
    values = df[columns].values
    nn.fit(values)
    
    near = nn.kneighbors(df.loc[gemeente_id][columns].values.reshape(1, -1), n_neighbors=n)[1][0]
    
    return df.ix[df.index[near]]
    
sim = similar(183, ["count_2014", "count_2015"])

results = [{
    key: value for key, value in zip(["id"] + list(sim.columns), row)
} for row in sim.to_records()]

results

[{'count_2014': 20579.0, 'count_2015': 20639.5, 'id': 183, 'regio': 'Leerdam'},
 {'count_2014': 20569.5,
  'count_2015': 20735.0,
  'id': 59,
  'regio': 'Bunschoten'},
 {'count_2014': 20443.0,
  'count_2015': 20601.0,
  'id': 65,
  'regio': 'Cranendonck'},
 {'count_2014': 20765.5,
  'count_2015': 20692.5,
  'id': 277,
  'regio': 'Roerdalen'},
 {'count_2014': 20386.5,
  'count_2015': 20296.5,
  'id': 103,
  'regio': 'Franekeradeel'}]

In [46]:
df.iloc[3]

regio          Aalten
count_2014    26958.5
count_2015      26908
Name: 3, dtype: object

In [31]:
values = 

nn.fit(values)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [44]:
df.ix[near]

               regio  count_2014  count_2015
3             Aalten     26958.5     26908.0
186           Leiden    121362.5    122061.5
235  Noordwijkerhout     16009.5     16101.5
83         Drimmelen     26699.0     26759.0
226       Nieuwegein     61151.0     61506.5

In [67]:
sim

             regio  count_2014  count_2015
183        Leerdam     20579.0     20639.5
59      Bunschoten     20569.5     20735.0
65     Cranendonck     20443.0     20601.0
277      Roerdalen     20765.5     20692.5
103  Franekeradeel     20386.5     20296.5

In [96]:
idx = sim.T.columns
cols = sim.columns

header = [""] + sim.T.loc["regio", idx].values.tolist()
rows = sim.T.loc[list(set(cols) - {"regio"}), idx].rename(rename).reset_index().values.tolist()

header, rows

(['', 'Leerdam', 'Bunschoten', 'Cranendonck', 'Roerdalen', 'Franekeradeel'],
 [['Bevolking 2014', 20579.0, 20569.5, 20443.0, 20765.5, 20386.5],
  ['Bevolking 2015', 20639.5, 20735.0, 20601.0, 20692.5, 20296.5]])

In [95]:
rename = {
    key: value["name"] for key, value in columns.items()
}

In [97]:
sim

             regio  count_2014  count_2015
183        Leerdam     20579.0     20639.5
59      Bunschoten     20569.5     20735.0
65     Cranendonck     20443.0     20601.0
277      Roerdalen     20765.5     20692.5
103  Franekeradeel     20386.5     20296.5