In [9]:
%pylab inline

import pandas as pd
import feather

datasets = list()

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['f']
`%matplotlib` prevents importing * from pylab and numpy

In [3]:
## bevolkingsaantal

In [10]:
fn = '../datasets/raw/Gemiddelde_bevolking_090916105735.csv'
with open(fn, 'r', errors='ignore') as f:
    data = f.read()
    
    
count = pd.read_csv(fn, sep=',', skiprows=4)
count.head()

  Leeftijd (op 31 december)        Regio's   aantal  aantal.1
0    Totaal alle leeftijden    Aa en Hunze    25280   25223.0
1    Totaal alle leeftijden        Aalburg    12884   12980.0
2    Totaal alle leeftijden       Aalsmeer    30918   31188.0
3    Totaal alle leeftijden         Aalten  26958.5   26908.0
4    Totaal alle leeftijden  Achtkarspelen  27999.5   27995.0

In [24]:
count_df = count.drop("Leeftijd (op 31 december)", axis=1).rename(columns={
            "Regio's": "regio",
            "aantal": "count_2014",
            "aantal.1": "count_2015"
        })

count_df["count_2014"] = pd.to_numeric(count_df.count_2014, errors='coerce')
count_df["count_2015"] = pd.to_numeric(count_df.count_2015, errors='coerce')

count_df.sample(5)

                 regio  count_2014  count_2015
244          Oldenzaal     32128.5     32115.0
21       Baarle-Nassau      6605.5      6605.0
256  Oude IJsselstreek     39576.5     39607.5
99                 Epe     32282.5     32248.0
203          Maassluis     32140.5     32246.5

In [13]:
import feather

feather.write_dataframe(count_df, "../datasets/clean/clean_data.feather")

In [21]:
# view = count_df["name"]

[{'id': 0, 'name': 'Aa en Hunze'},
 {'id': 1, 'name': 'Aalburg'},
 {'id': 2, 'name': 'Aalsmeer'},
 {'id': 3, 'name': 'Aalten'},
 {'id': 4, 'name': 'Achtkarspelen'},
 {'id': 5, 'name': 'Alblasserdam'},
 {'id': 6, 'name': 'Albrandswaard'},
 {'id': 7, 'name': 'Alkmaar'},
 {'id': 8, 'name': 'Almelo'},
 {'id': 9, 'name': 'Almere'},
 {'id': 10, 'name': 'Alphen aan den Rijn'},
 {'id': 11, 'name': 'Alphen-Chaam'},
 {'id': 12, 'name': 'Ameland'},
 {'id': 13, 'name': 'Amersfoort'},
 {'id': 14, 'name': 'Amstelveen'},
 {'id': 15, 'name': 'Amsterdam'},
 {'id': 16, 'name': 'Apeldoorn'},
 {'id': 17, 'name': 'Appingedam'},
 {'id': 18, 'name': 'Arnhem'},
 {'id': 19, 'name': 'Assen'},
 {'id': 20, 'name': 'Asten'},
 {'id': 21, 'name': 'Baarle-Nassau'},
 {'id': 22, 'name': 'Baarn'},
 {'id': 23, 'name': 'Barendrecht'},
 {'id': 24, 'name': 'Barneveld'},
 {'id': 25, 'name': 'Bedum'},
 {'id': 26, 'name': 'Beek (L.)'},
 {'id': 27, 'name': 'Beemster'},
 {'id': 28, 'name': 'Beesel'},
 {'id': 29, 'name': 'Bellingwedde'},
 {'id': 30, 'name': 'Bergeijk'},
 {'id': 31, 'name': 'Bergen (L.)'},
 {'id': 32, 'name': 'Bergen (NH.)'},
 {'id': 33, 'name': 'Bergen op Zoom'},
 {'id': 34, 'name': 'Berkelland'},
 {'id': 35, 'name': 'Bernheze'},
 {'id': 36, 'name': 'Best'},
 {'id': 37, 'name': 'Beuningen'},
 {'id': 38, 'name': 'Beverwijk'},
 {'id': 39, 'name': 'het Bildt'},
 {'id': 40, 'name': 'De Bilt'},
 {'id': 41, 'name': 'Binnenmaas'},
 {'id': 42, 'name': 'Bladel'},
 {'id': 43, 'name': 'Blaricum'},
 {'id': 44, 'name': 'Bloemendaal'},
 {'id': 45, 'name': 'Bodegraven-Reeuwijk'},
 {'id': 46, 'name': 'Boekel'},
 {'id': 47, 'name': 'Ten Boer'},
 {'id': 48, 'name': 'Borger-Odoorn'},
 {'id': 49, 'name': 'Borne'},
 {'id': 50, 'name': 'Borsele'},
 {'id': 51, 'name': 'Boxmeer'},
 {'id': 52, 'name': 'Boxtel'},
 {'id': 53, 'name': 'Breda'},
 {'id': 54, 'name': 'Brielle'},
 {'id': 55, 'name': 'Bronckhorst'},
 {'id': 56, 'name': 'Brummen'},
 {'id': 57, 'name': 'Brunssum'},
 {'id': 58, 'name': 'Bunnik'},
 {'id': 59, 'name': 'Bunschoten'},
 {'id': 60, 'name': 'Buren'},
 {'id': 61, 'name': 'Bussum'},
 {'id': 62, 'name': 'Capelle aan den IJssel'},
 {'id': 63, 'name': 'Castricum'},
 {'id': 64, 'name': 'Coevorden'},
 {'id': 65, 'name': 'Cranendonck'},
 {'id': 66, 'name': 'Cromstrijen'},
 {'id': 67, 'name': 'Cuijk'},
 {'id': 68, 'name': 'Culemborg'},
 {'id': 69, 'name': 'Dalfsen'},
 {'id': 70, 'name': 'Dantumadiel'},
 {'id': 71, 'name': 'Delft'},
 {'id': 72, 'name': 'Delfzijl'},
 {'id': 73, 'name': 'Deurne'},
 {'id': 74, 'name': 'Deventer'},
 {'id': 75, 'name': 'Diemen'},
 {'id': 76, 'name': 'Dinkelland'},
 {'id': 77, 'name': 'Doesburg'},
 {'id': 78, 'name': 'Doetinchem'},
 {'id': 79, 'name': 'Dongen'},
 {'id': 80, 'name': 'Dongeradeel'},
 {'id': 81, 'name': 'Dordrecht'},
 {'id': 82, 'name': 'Drechterland'},
 {'id': 83, 'name': 'Drimmelen'},
 {'id': 84, 'name': 'Dronten'},
 {'id': 85, 'name': 'Druten'},
 {'id': 86, 'name': 'Duiven'},
 {'id': 87, 'name': 'Echt-Susteren'},
 {'id': 88, 'name': 'Edam-Volendam'},
 {'id': 89, 'name': 'Ede'},
 {'id': 90, 'name': 'Eemnes'},
 {'id': 91, 'name': 'Eemsmond'},
 {'id': 92, 'name': 'Eersel'},
 {'id': 93, 'name': 'Eijsden-Margraten'},
 {'id': 94, 'name': 'Eindhoven'},
 {'id': 95, 'name': 'Elburg'},
 {'id': 96, 'name': 'Emmen'},
 {'id': 97, 'name': 'Enkhuizen'},
 {'id': 98, 'name': 'Enschede'},
 {'id': 99, 'name': 'Epe'},
 {'id': 100, 'name': 'Ermelo'},
 {'id': 101, 'name': 'Etten-Leur'},
 {'id': 102, 'name': 'Ferwerderadiel'},
 {'id': 103, 'name': 'Franekeradeel'},
 {'id': 104, 'name': 'De Friese Meren'},
 {'id': 105, 'name': 'Geertruidenberg'},
 {'id': 106, 'name': 'Geldermalsen'},
 {'id': 107, 'name': 'Geldrop-Mierlo'},
 {'id': 108, 'name': 'Gemert-Bakel'},
 {'id': 109, 'name': 'Gennep'},
 {'id': 110, 'name': 'Giessenlanden'},
 {'id': 111, 'name': 'Gilze en Rijen'},
 {'id': 112, 'name': 'Goeree-Overflakkee'},
 {'id': 113, 'name': 'Goes'},
 {'id': 114, 'name': 'Goirle'},
 {'id': 115, 'name': 'Gorinchem'},
 {'id': 116, 'name': 'Gouda'},
 {'id': 117, 'name': 'Grave'},
 {'id': 118, 'name': "'s-Gravenhage (gemeente)"},
 {'id': 119, 'name': 'Groesbeek'},
 {'id': 120, 'name': 'Groningen (gemeente)'},
 {'id': 121, 'name': 'Grootegast'},
 {'id': 122, 'name': 'Gulpen-Wittem'},
 {'id': 123, 'name': 'Haaksbergen'},
 {'id': 124, 'name': 'Haaren'},
 {'id': 125, 'name': 'Haarlem'},
 {'id': 126, 'name': 'Haarlemmerliede en Spaarnwoude'},
 {'id': 127, 'name': 'Haarlemmermeer'},
 {'id': 128, 'name': 'Halderberge'},
 {'id': 129, 'name': 'Hardenberg'},
 {'id': 130, 'name': 'Harderwijk'},
 {'id': 131, 'name': 'Hardinxveld-Giessendam'},
 {'id': 132, 'name': 'Haren'},
 {'id': 133, 'name': 'Harlingen'},
 {'id': 134, 'name': 'Hattem'},
 {'id': 135, 'name': 'Heemskerk'},
 {'id': 136, 'name': 'Heemstede'},
 {'id': 137, 'name': 'Heerde'},
 {'id': 138, 'name': 'Heerenveen'},
 {'id': 139, 'name': 'Heerhugowaard'},
 {'id': 140, 'name': 'Heerlen'},
 {'id': 141, 'name': 'Heeze-Leende'},
 {'id': 142, 'name': 'Heiloo'},
 {'id': 143, 'name': 'Den Helder'},
 {'id': 144, 'name': 'Hellendoorn'},
 {'id': 145, 'name': 'Hellevoetsluis'},
 {'id': 146, 'name': 'Helmond'},
 {'id': 147, 'name': 'Hendrik-Ido-Ambacht'},
 {'id': 148, 'name': 'Hengelo (O.)'},
 {'id': 149, 'name': "'s-Hertogenbosch"},
 {'id': 150, 'name': 'Heumen'},
 {'id': 151, 'name': 'Heusden'},
 {'id': 152, 'name': 'Hillegom'},
 {'id': 153, 'name': 'Hilvarenbeek'},
 {'id': 154, 'name': 'Hilversum'},
 {'id': 155, 'name': 'Hof van Twente'},
 {'id': 156, 'name': 'Hollands Kroon'},
 {'id': 157, 'name': 'Hoogeveen'},
 {'id': 158, 'name': 'Hoogezand-Sappemeer'},
 {'id': 159, 'name': 'Hoorn'},
 {'id': 160, 'name': 'Horst aan de Maas'},
 {'id': 161, 'name': 'Houten'},
 {'id': 162, 'name': 'Huizen'},
 {'id': 163, 'name': 'Hulst'},
 {'id': 164, 'name': 'IJsselstein'},
 {'id': 165, 'name': 'Kaag en Braassem'},
 {'id': 166, 'name': 'Kampen'},
 {'id': 167, 'name': 'Kapelle'},
 {'id': 168, 'name': 'Katwijk'},
 {'id': 169, 'name': 'Kerkrade'},
 {'id': 170, 'name': 'Koggenland'},
 {'id': 171, 'name': 'Kollumerland en Nieuwkruisland'},
 {'id': 172, 'name': 'Korendijk'},
 {'id': 173, 'name': 'Krimpen aan den IJssel'},
 {'id': 174, 'name': 'Krimpenerwaard'},
 {'id': 175, 'name': 'Laarbeek'},
 {'id': 176, 'name': 'Landerd'},
 {'id': 177, 'name': 'Landgraaf'},
 {'id': 178, 'name': 'Landsmeer'},
 {'id': 179, 'name': 'Langedijk'},
 {'id': 180, 'name': 'Lansingerland'},
 {'id': 181, 'name': 'Laren (NH.)'},
 {'id': 182, 'name': 'Leek'},
 {'id': 183, 'name': 'Leerdam'},
 {'id': 184, 'name': 'Leeuwarden'},
 {'id': 185, 'name': 'Leeuwarderadeel'},
 {'id': 186, 'name': 'Leiden'},
 {'id': 187, 'name': 'Leiderdorp'},
 {'id': 188, 'name': 'Leidschendam-Voorburg'},
 {'id': 189, 'name': 'Lelystad'},
 {'id': 190, 'name': 'Leudal'},
 {'id': 191, 'name': 'Leusden'},
 {'id': 192, 'name': 'Lingewaal'},
 {'id': 193, 'name': 'Lingewaard'},
 {'id': 194, 'name': 'Lisse'},
 {'id': 195, 'name': 'Littenseradiel'},
 {'id': 196, 'name': 'Lochem'},
 {'id': 197, 'name': 'Loon op Zand'},
 {'id': 198, 'name': 'Lopik'},
 {'id': 199, 'name': 'Loppersum'},
 {'id': 200, 'name': 'Losser'},
 {'id': 201, 'name': 'Maasdriel'},
 {'id': 202, 'name': 'Maasgouw'},
 {'id': 203, 'name': 'Maassluis'},
 {'id': 204, 'name': 'Maastricht'},
 {'id': 205, 'name': 'De Marne'},
 {'id': 206, 'name': 'Marum'},
 {'id': 207, 'name': 'Medemblik'},
 {'id': 208, 'name': 'Meerssen'},
 {'id': 209, 'name': 'Menameradiel'},
 {'id': 210, 'name': 'Menterwolde'},
 {'id': 211, 'name': 'Meppel'},
 {'id': 212, 'name': 'Middelburg (Z.)'},
 {'id': 213, 'name': 'Midden-Delfland'},
 {'id': 214, 'name': 'Midden-Drenthe'},
 {'id': 215, 'name': 'Mill en Sint Hubert'},
 {'id': 216, 'name': 'Moerdijk'},
 {'id': 217, 'name': 'Molenwaard'},
 {'id': 218, 'name': 'Montferland'},
 {'id': 219, 'name': 'Montfoort'},
 {'id': 220, 'name': 'Mook en Middelaar'},
 {'id': 221, 'name': 'Muiden'},
 {'id': 222, 'name': 'Naarden'},
 {'id': 223, 'name': 'Neder-Betuwe'},
 {'id': 224, 'name': 'Nederweert'},
 {'id': 225, 'name': 'Neerijnen'},
 {'id': 226, 'name': 'Nieuwegein'},
 {'id': 227, 'name': 'Nieuwkoop'},
 {'id': 228, 'name': 'Nijkerk'},
 {'id': 229, 'name': 'Nijmegen'},
 {'id': 230, 'name': 'Nissewaard'},
 {'id': 231, 'name': 'Noord-Beveland'},
 {'id': 232, 'name': 'Noordenveld'},
 {'id': 233, 'name': 'Noordoostpolder'},
 {'id': 234, 'name': 'Noordwijk'},
 {'id': 235, 'name': 'Noordwijkerhout'},
 {'id': 236, 'name': 'Nuenen, Gerwen en Nederwetten'},
 {'id': 237, 'name': 'Nunspeet'},
 {'id': 238, 'name': 'Nuth'},
 {'id': 239, 'name': 'Oegstgeest'},
 {'id': 240, 'name': 'Oirschot'},
 {'id': 241, 'name': 'Oisterwijk'},
 {'id': 242, 'name': 'Oldambt'},
 {'id': 243, 'name': 'Oldebroek'},
 {'id': 244, 'name': 'Oldenzaal'},
 {'id': 245, 'name': 'Olst-Wijhe'},
 {'id': 246, 'name': 'Ommen'},
 {'id': 247, 'name': 'Onderbanken'},
 {'id': 248, 'name': 'Oost Gelre'},
 {'id': 249, 'name': 'Oosterhout'},
 {'id': 250, 'name': 'Ooststellingwerf'},
 {'id': 251, 'name': 'Oostzaan'},
 {'id': 252, 'name': 'Opmeer'},
 {'id': 253, 'name': 'Opsterland'},
 {'id': 254, 'name': 'Oss'},
 {'id': 255, 'name': 'Oud-Beijerland'},
 {'id': 256, 'name': 'Oude IJsselstreek'},
 {'id': 257, 'name': 'Ouder-Amstel'},
 {'id': 258, 'name': 'Oudewater'},
 {'id': 259, 'name': 'Overbetuwe'},
 {'id': 260, 'name': 'Papendrecht'},
 {'id': 261, 'name': 'Peel en Maas'},
 {'id': 262, 'name': 'Pekela'},
 {'id': 263, 'name': 'Pijnacker-Nootdorp'},
 {'id': 264, 'name': 'Purmerend'},
 {'id': 265, 'name': 'Putten'},
 {'id': 266, 'name': 'Raalte'},
 {'id': 267, 'name': 'Reimerswaal'},
 {'id': 268, 'name': 'Renkum'},
 {'id': 269, 'name': 'Renswoude'},
 {'id': 270, 'name': 'Reusel-De Mierden'},
 {'id': 271, 'name': 'Rheden'},
 {'id': 272, 'name': 'Rhenen'},
 {'id': 273, 'name': 'Ridderkerk'},
 {'id': 274, 'name': 'Rijnwaarden'},
 {'id': 275, 'name': 'Rijssen-Holten'},
 {'id': 276, 'name': 'Rijswijk (ZH.)'},
 {'id': 277, 'name': 'Roerdalen'},
 {'id': 278, 'name': 'Roermond'},
 {'id': 279, 'name': 'De Ronde Venen'},
 {'id': 280, 'name': 'Roosendaal'},
 {'id': 281, 'name': 'Rotterdam'},
 {'id': 282, 'name': 'Rozendaal'},
 {'id': 283, 'name': 'Rucphen'},
 {'id': 284, 'name': 'Schagen'},
 {'id': 285, 'name': 'Scherpenzeel'},
 {'id': 286, 'name': 'Schiedam'},
 {'id': 287, 'name': 'Schiermonnikoog'},
 {'id': 288, 'name': 'Schijndel'},
 {'id': 289, 'name': 'Schinnen'},
 {'id': 290, 'name': 'Schouwen-Duiveland'},
 {'id': 291, 'name': 'Simpelveld'},
 {'id': 292, 'name': 'Sint Anthonis'},
 {'id': 293, 'name': 'Sint-Michielsgestel'},
 {'id': 294, 'name': 'Sint-Oedenrode'},
 {'id': 295, 'name': 'Sittard-Geleen'},
 {'id': 296, 'name': 'Sliedrecht'},
 {'id': 297, 'name': 'Slochteren'},
 {'id': 298, 'name': 'Sluis'},
 {'id': 299, 'name': 'Smallingerland'},
 {'id': 300, 'name': 'Soest'},
 {'id': 301, 'name': 'Someren'},
 {'id': 302, 'name': 'Son en Breugel'},
 {'id': 303, 'name': 'Stadskanaal'},
 {'id': 304, 'name': 'Staphorst'},
 {'id': 305, 'name': 'Stede Broec'},
 {'id': 306, 'name': 'Steenbergen'},
 {'id': 307, 'name': 'Steenwijkerland'},
 {'id': 308, 'name': 'Stein (L.)'},
 {'id': 309, 'name': 'Stichtse Vecht'},
 {'id': 310, 'name': 'Strijen'},
 {'id': 311, 'name': 'S�dwest-Frysl�n'},
 {'id': 312, 'name': 'Terneuzen'},
 {'id': 313, 'name': 'Terschelling'},
 {'id': 314, 'name': 'Texel'},
 {'id': 315, 'name': 'Teylingen'},
 {'id': 316, 'name': 'Tholen'},
 {'id': 317, 'name': 'Tiel'},
 {'id': 318, 'name': 'Tilburg'},
 {'id': 319, 'name': 'Tubbergen'},
 {'id': 320, 'name': 'Twenterand'},
 {'id': 321, 'name': 'Tynaarlo'},
 {'id': 322, 'name': 'Tytsjerksteradiel'},
 {'id': 323, 'name': 'Uden'},
 {'id': 324, 'name': 'Uitgeest'},
 {'id': 325, 'name': 'Uithoorn'},
 {'id': 326, 'name': 'Urk'},
 {'id': 327, 'name': 'Utrecht (gemeente)'},
 {'id': 328, 'name': 'Utrechtse Heuvelrug'},
 {'id': 329, 'name': 'Vaals'},
 {'id': 330, 'name': 'Valkenburg aan de Geul'},
 {'id': 331, 'name': 'Valkenswaard'},
 {'id': 332, 'name': 'Veendam'},
 {'id': 333, 'name': 'Veenendaal'},
 {'id': 334, 'name': 'Veere'},
 {'id': 335, 'name': 'Veghel'},
 {'id': 336, 'name': 'Veldhoven'},
 {'id': 337, 'name': 'Velsen'},
 {'id': 338, 'name': 'Venlo'},
 {'id': 339, 'name': 'Venray'},
 {'id': 340, 'name': 'Vianen'},
 {'id': 341, 'name': 'Vlaardingen'},
 {'id': 342, 'name': 'Vlagtwedde'},
 {'id': 343, 'name': 'Vlieland'},
 {'id': 344, 'name': 'Vlissingen'},
 {'id': 345, 'name': 'Voerendaal'},
 {'id': 346, 'name': 'Voorschoten'},
 {'id': 347, 'name': 'Voorst'},
 {'id': 348, 'name': 'Vught'},
 {'id': 349, 'name': 'Waalre'},
 {'id': 350, 'name': 'Waalwijk'},
 {'id': 351, 'name': 'Waddinxveen'},
 {'id': 352, 'name': 'Wageningen'},
 {'id': 353, 'name': 'Wassenaar'},
 {'id': 354, 'name': 'Waterland'},
 {'id': 355, 'name': 'Weert'},
 {'id': 356, 'name': 'Weesp'},
 {'id': 357, 'name': 'Werkendam'},
 {'id': 358, 'name': 'West Maas en Waal'},
 {'id': 359, 'name': 'Westerveld'},
 {'id': 360, 'name': 'Westervoort'},
 {'id': 361, 'name': 'Westland'},
 {'id': 362, 'name': 'Weststellingwerf'},
 {'id': 363, 'name': 'Westvoorne'},
 {'id': 364, 'name': 'Wierden'},
 {'id': 365, 'name': 'Wijchen'},
 {'id': 366, 'name': 'Wijdemeren'},
 {'id': 367, 'name': 'Wijk bij Duurstede'},
 {'id': 368, 'name': 'Winsum'},
 {'id': 369, 'name': 'Winterswijk'},
 {'id': 370, 'name': 'Woensdrecht'},
 {'id': 371, 'name': 'Woerden'},
 {'id': 372, 'name': 'De Wolden'},
 {'id': 373, 'name': 'Wormerland'},
 {'id': 374, 'name': 'Woudenberg'},
 {'id': 375, 'name': 'Woudrichem'},
 {'id': 376, 'name': 'Zaanstad'},
 {'id': 377, 'name': 'Zaltbommel'},
 {'id': 378, 'name': 'Zandvoort'},
 {'id': 379, 'name': 'Zederik'},
 {'id': 380, 'name': 'Zeevang'},
 {'id': 381, 'name': 'Zeewolde'},
 {'id': 382, 'name': 'Zeist'},
 {'id': 383, 'name': 'Zevenaar'},
 {'id': 384, 'name': 'Zoetermeer'},
 {'id': 385, 'name': 'Zoeterwoude'},
 {'id': 386, 'name': 'Zuidhorn'},
 {'id': 387, 'name': 'Zuidplas'},
 {'id': 388, 'name': 'Zundert'},
 {'id': 389, 'name': 'Zutphen'},
 {'id': 390, 'name': 'Zwartewaterland'},
 {'id': 391, 'name': 'Zwijndrecht'},
 {'id': 392, 'name': 'Zwolle'},
 {'id': 393, 'name': nan}]

In [23]:
import json

columns_fn = "../datasets/clean/columns.json"

columns = {
    "count_2014": {
        "name": "Bevolking 2014"
    }, 
    "count_2015": {
        "name": "Bevolking 2015"
    }
}

with open(columns_fn, 'w') as f:
    json.dump(columns, f)

In [24]:
x = {
    "bla": "bla"
}

x.update({
        "foo": "foo"
    })

x

{'bla': 'bla', 'foo': 'foo'}

In [25]:
count_df

                   regio  count_2014  count_2015
0            Aa en Hunze     25280.0     25223.0
1                Aalburg     12884.0     12980.0
2               Aalsmeer     30918.0     31188.0
3                 Aalten     26958.5     26908.0
4          Achtkarspelen     27999.5     27995.0
5           Alblasserdam     19823.0     19900.0
6          Albrandswaard     25108.5     25066.5
7                Alkmaar     95057.0    107360.5
8                 Almelo     72375.0     72358.0
9                 Almere    196472.5    197538.5
10   Alphen aan den Rijn    107090.5    107678.0
11          Alphen-Chaam      9735.0      9838.5
12               Ameland      3584.0      3600.5
13            Amersfoort    151689.0    153041.5
14            Amstelveen     86088.5     87882.0
15             Amsterdam    816344.5    827688.0
16             Apeldoorn    157822.0    158562.0
17            Appingedam     12037.5     12006.0
18                Arnhem    151558.0    153055.5
19                 Assen     67177.5     67113.0
20                 Asten     16499.5     16569.5
21         Baarle-Nassau      6605.5      6605.0
22                 Baarn     24360.0     24463.5
23           Barendrecht     47449.0     47691.0
24             Barneveld     54427.5     55072.0
25                 Bedum     10467.5     10437.0
26             Beek (L.)     16242.5     16141.0
27              Beemster      8906.5      8930.5
28                Beesel     13564.0     13449.5
29          Bellingwedde      9037.0      9062.5
..                   ...         ...         ...
364              Wierden     23891.5     23913.0
365              Wijchen     40964.5     40850.0
366           Wijdemeren     23181.5     23225.5
367   Wijk bij Duurstede     23132.5     23303.0
368               Winsum     13812.0     13703.5
369          Winterswijk     28929.0     28958.0
370          Woensdrecht     21632.5     21663.0
371              Woerden     50604.0     50896.0
372            De Wolden     23622.0     23691.5
373           Wormerland     15758.5     15702.0
374           Woudenberg     12454.5     12518.5
375           Woudrichem     14406.5     14453.0
376             Zaanstad    151008.0    151942.0
377           Zaltbommel     27270.0     27450.5
378            Zandvoort     16633.5     16742.0
379              Zederik     13686.5     13717.5
380              Zeevang      6323.5      6273.5
381             Zeewolde     21696.5     22003.5
382                Zeist     61445.5     61949.5
383             Zevenaar     32274.0     32267.0
384           Zoetermeer    123793.0    124066.0
385          Zoeterwoude      8094.5      8116.5
386             Zuidhorn     18754.0     18763.5
387             Zuidplas     40831.5     40854.0
388              Zundert     21381.0     21425.5
389              Zutphen     47006.5     46923.0
390      Zwartewaterland     22166.5     22222.0
391          Zwijndrecht     44524.0     44477.5
392               Zwolle    123510.0    124378.5
393                  NaN         NaN         NaN

[394 rows x 3 columns]

In [26]:
df = count_df.dropna()

In [65]:
from sklearn.neighbors import NearestNeighbors

nn = NearestNeighbors()

def similar(gemeente_id, columns, n=5):
    
    values = df[columns].values
    nn.fit(values)
    
    near = nn.kneighbors(df.loc[gemeente_id][columns].values.reshape(1, -1), n_neighbors=n)[1][0]
    
    return df.ix[df.index[near]]
    
sim = similar(183, ["count_2014", "count_2015"])

results = [{
    key: value for key, value in zip(["id"] + list(sim.columns), row)
} for row in sim.to_records()]

results

[{'count_2014': 20579.0, 'count_2015': 20639.5, 'id': 183, 'regio': 'Leerdam'},
 {'count_2014': 20569.5,
  'count_2015': 20735.0,
  'id': 59,
  'regio': 'Bunschoten'},
 {'count_2014': 20443.0,
  'count_2015': 20601.0,
  'id': 65,
  'regio': 'Cranendonck'},
 {'count_2014': 20765.5,
  'count_2015': 20692.5,
  'id': 277,
  'regio': 'Roerdalen'},
 {'count_2014': 20386.5,
  'count_2015': 20296.5,
  'id': 103,
  'regio': 'Franekeradeel'}]

In [46]:
df.iloc[3]

regio          Aalten
count_2014    26958.5
count_2015      26908
Name: 3, dtype: object

In [31]:
values = 

nn.fit(values)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [44]:
df.ix[near]

               regio  count_2014  count_2015
3             Aalten     26958.5     26908.0
186           Leiden    121362.5    122061.5
235  Noordwijkerhout     16009.5     16101.5
83         Drimmelen     26699.0     26759.0
226       Nieuwegein     61151.0     61506.5

In [67]:
sim

             regio  count_2014  count_2015
183        Leerdam     20579.0     20639.5
59      Bunschoten     20569.5     20735.0
65     Cranendonck     20443.0     20601.0
277      Roerdalen     20765.5     20692.5
103  Franekeradeel     20386.5     20296.5

In [96]:
idx = sim.T.columns
cols = sim.columns

header = [""] + sim.T.loc["regio", idx].values.tolist()
rows = sim.T.loc[list(set(cols) - {"regio"}), idx].rename(rename).reset_index().values.tolist()

header, rows

(['', 'Leerdam', 'Bunschoten', 'Cranendonck', 'Roerdalen', 'Franekeradeel'],
 [['Bevolking 2014', 20579.0, 20569.5, 20443.0, 20765.5, 20386.5],
  ['Bevolking 2015', 20639.5, 20735.0, 20601.0, 20692.5, 20296.5]])

In [95]:
rename = {
    key: value["name"] for key, value in columns.items()
}

In [88]:
sim.T.reset_index()

        index      183          59           65        277            103
0       regio  Leerdam  Bunschoten  Cranendonck  Roerdalen  Franekeradeel
1  count_2014    20579     20569.5        20443    20765.5        20386.5
2  count_2015  20639.5       20735        20601    20692.5        20296.5