In [1]:
%pylab inline

import pandas as pd
import feather

datasets = list()

Populating the interactive namespace from numpy and matplotlib

ImportError: No module named 'feather'

In [3]:
## bevolkingsaantal

In [15]:
fn = '../datasets/raw/Gemiddelde_bevolking_090916105735.csv'
with open(fn, 'r', errors='ignore') as f:
    data = f.read()
    
    
count = pd.read_csv(fn, sep=',', skiprows=4)
count.head()

  Leeftijd (op 31 december)        Regio's   aantal  aantal.1
0    Totaal alle leeftijden    Aa en Hunze    25280   25223.0
1    Totaal alle leeftijden        Aalburg    12884   12980.0
2    Totaal alle leeftijden       Aalsmeer    30918   31188.0
3    Totaal alle leeftijden         Aalten  26958.5   26908.0
4    Totaal alle leeftijden  Achtkarspelen  27999.5   27995.0

In [24]:
count_df = count.drop("Leeftijd (op 31 december)", axis=1).rename(columns={
            "Regio's": "regio",
            "aantal": "count_2014",
            "aantal.1": "count_2015"
        })

count_df["count_2014"] = pd.to_numeric(count_df.count_2014, errors='coerce')
count_df["count_2015"] = pd.to_numeric(count_df.count_2015, errors='coerce')

count_df.sample(5)

                 regio  count_2014  count_2015
244          Oldenzaal     32128.5     32115.0
21       Baarle-Nassau      6605.5      6605.0
256  Oude IJsselstreek     39576.5     39607.5
99                 Epe     32282.5     32248.0
203          Maassluis     32140.5     32246.5

In [25]:
import feather

feather.save_dataframe("../datasets/clean/clean_data.feather")

ImportError: No module named 'feather'